<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matheus.mota.cryptoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptoApp">
        <activity
            android:name=".CryptoCoinInfoActivity"
            android:exported="false" />
        <activity
            android:name=".CryptoSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".CryptoHomeActivity"
            android:exported="false" />
        <activity
            android:name=".CryptoLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginCryptoApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>